################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

SiExpress/Scripts/uploads
SiExpress/Bin
SiExpress/.vs
SiExProData/bin
SiExProData/obj
SiExProECommerce/obj
SiExProECommerce/bin
SiExpress/packages
SiExpress/SiExpress.v11.suo
SiExPress/Bin/SiExProData.dll
SiExPress/Bin/SiExProData.pdb
SiExPress/Bin/SiExProECommerce.dll
SiExPress/Bin/SiExProECommerce.pdb
SiExPress/Scripts/uploads/ImportaEnvios.xlsx
SiExProData/bin/Debug/SiExProData.dll
SiExProData/bin/Debug/SiExProData.dll.config
SiExProData/bin/Debug/SiExProData.pdb
SiExProData/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SiExProData/obj/Debug/edmxResourcesToEmbed/SiExProModel.csdl
SiExProData/obj/Debug/edmxResourcesToEmbed/SiExProModel.msl
SiExProData/obj/Debug/edmxResourcesToEmbed/SiExProModel.ssdl
SiExProData/obj/Debug/SiExProData.dll
SiExProData/obj/Debug/SiExProData.pdb
SiExProData/obj/Debug/SiExProData.vbproj.FileListAbsolute.txt
SiExProData/obj/Debug/SiExProData.vbproj.GenerateResource.Cache
SiExProData/obj/Debug/SiExProData.vbprojResolveAssemblyReference.cache
SiExProData/obj/Debug/TempPE/SiExProModel.Designer.vb.dll
SiExProData/obj/Debug/TempPE/SiExProModel.vb.dll
SiExProECommerce/bin/Debug/SiExProECommerce.dll
SiExProECommerce/bin/Debug/SiExProECommerce.dll.config
SiExProECommerce/bin/Debug/SiExProECommerce.pdb
SiExProECommerce/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SiExProECommerce/obj/Debug/SiExProECommerce.dll
SiExProECommerce/obj/Debug/SiExProECommerce.pdb
SiExProECommerce/obj/Debug/SiExProECommerce.vbproj.FileListAbsolute.txt
SiExProECommerce/obj/Debug/SiExProECommerce.vbproj.GenerateResource.Cache
SiExProECommerce/obj/Debug/SiExProECommerce.vbprojResolveAssemblyReference.cache
